<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="assets/img/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>
        {% block title %}
            Django TodoList
        {% endblock %}
    </title>
    {% load static %}
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

    <!-- Bootstrap core CSS     -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet" />

    <!-- Animation library for notifications   -->
    <link href="{% static "css/animate.min.css" %}" rel="stylesheet"/>

    <!--  Light Bootstrap Table core CSS    -->
    <link href="{% static "css/light-bootstrap-dashboard.css" %}" rel="stylesheet"/>

    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href="{% static "css/pe-icon-7-stroke.css" %}" rel="stylesheet" />

</head>
<body>

<div class="wrapper">
    <div class="sidebar" data-color="blue">

    <!--   you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple" -->


    	<div class="sidebar-wrapper">
            <div class="logo">
                <a href="http://www.github.com/lucasvieiramay" class="simple-text" target="_blank">
                    DjangoTodoList
                </a>
            </div>

            <ul class="nav">
                <li class="active">
                    <a href="/">
                        <i class="pe-7s-note2"></i>
                        <p>Tasks List</p>
                    </a>
                    <a href="/?finished=True">
                        <i class="fa fa-check"></i>
                        <p>Finished Tasks</p>
                    </a>
                </li>
            </ul>
    	</div>
    </div>

    <div class="main-panel">
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        {% block content %}
                        <div class="card">
                            <div class="content table-responsive table-full-width">
                                <table class="table table-hover table-striped">
                                    <form method="POST" action="/create/" onsubmit="return validTask()">
                                        <thead>
                                            <tr>
                                                <div class="col-md-5">
                                                    <input class="form-control" maxlength="255" type="text" name="title" id="title" placeholder="Type your task here...">
                                                </div>
                                                <div class="col-md-2">
                                                    <select id="" name="label" id="label" class="form-control">
                                                        <option value="1"> Urgent </option>
                                                        <option value="2"> Medium </option>
                                                        <option value="3"> Light </option>
                                                    </select>
                                                </div>

                                                <div class="col-md-2">
                                                    <button class="btn btn-success" type="submit">Add Task</button>
                                                </div>

                                                <div class="col-md-3" style="margin-top:10px;">
                                                    <input
                                                        onclick="showArchivedTasks()"
                                                        type="checkbox"
                                                        name="show_archived"
                                                        id="show_archived">
                                                            Show archived tasks
                                                    </input>
                                                </div>
                                            </tr>
                                            <br/>
                                            <br/>
                                            <br/>
                                        </thead>
                                    </form>
                                    <tbody>
                                        {% if tasks %}
                                            {% for task in tasks %}
                                                <tr class="segmentListItem" draggable="true">
                                                    <td class="col-md-1" onclick="completeTask({{task.pk}})" data-toggle="tooltip" title="Mark as Done">
                                                        <div style="cursor:pointer;">
                                                            <i style="color: green;" class="fa fa-check" aria-hidden="true"></i>
                                                        </div>
                                                    </td>
                                                        <td onclick="openModal(
                                                                {{task.id}}, '{{task.title}}'
                                                            )"
                                                            class="col-md-8"
                                                            data-toggle="tooltip"
                                                            title="Title">
                                                            <div style="cursor:pointer;">
                                                                {{task.title}}
                                                            </div>
                                                        </td>
                                                    {% if task.label == 1 %}
                                                        <td class="col-md-1" data-toggle="tooltip" title="Priority">
                                                            <i style="color: red;" class="fa fa-flag" aria-hidden="true"></i>
                                                        </td>
                                                    {% elif task.label == 2 %}
                                                        <td class="col-md-1" data-toggle="tooltip" title="Priority">
                                                            <i style="color: orange;" class="fa fa-flag" aria-hidden="true"></i>
                                                        </td>
                                                    {% else %}
                                                        <td class="col-md-1" data-toggle="tooltip" title="Priority">
                                                            <i style="color: green;" class="fa fa-flag" aria-hidden="true"></i>
                                                        </td>
                                                    {% endif %}
                                                    <td class="col-md-1" onclick="archiveTask({{task.pk}})" data-toggle="tooltip" title="Archive">
                                                        <div style="cursor:pointer;">
                                                            {% if task.archived %}
                                                                <i style="color: orange;" class="fa fa-archive" aria-hidden="true"></i>
                                                            {% else %}
                                                                <i style="color: #dddddd;" class="fa fa-archive" aria-hidden="true"></i>
                                                            {% endif %}
                                                        </div>
                                                    </td>
                                                    <td class="col-md-1" onclick="deleteTask({{task.pk}})" data-toggle="tooltip" title="Delete">
                                                        <div style="cursor:pointer;">
                                                            <i style="color: red;" class="fa fa-trash" aria-hidden="true"></i>
                                                        </div>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        {% else %}
                                            <div style="text-align: center;">
                                                <p> Enjoy your free day, you don't have any task =) </p>
                                                <img src="{% static "img/beer.png" %}">
                                                <br/>
                                                <br/>
                                                <br/>
                                            </div>
                                        {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal to Update Taks-->
<div class="modal fade" id="updateModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-group">
                    <input class="form-control" maxlength="255" type="text" name="updatedTitle" id="updatedTitle" placeholder="Type the new task here...">
                    <input style="display:none;" id="taskId">
                </div>
                <div class="form-group">
                    <select id="" name="updatedLabel" id="updatedLabel" class="form-control">
                        <option value="1"> Urgent </option>
                        <option value="2"> Medium </option>
                        <option value="3"> Light </option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success pull-right" onclick="updateTask()">Update Task</button>
            </div>
        </div>
    </div>
</div>

</body>



    <!--   Core JS Files   -->
    <script src="{% static "js/jquery-1.10.2.js" %}" type="text/javascript"></script>
    <script src="{% static "js/bootstrap.min.js" %}" type="text/javascript"></script>

    <!--  Checkbox, Radio & Switch Plugins -->
    <script src="{% static "js/bootstrap-checkbox-radio-switch.js" %}"></script>

    <!--  Notifications Plugin    -->
    <script src="{% static "js/bootstrap-notify.js" %}"></script>

    <!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
    <script src="{% static "js/light-bootstrap-dashboard.js" %}"></script>

    <script type="text/javascript">

        function openModal(taskId, taskTitle, taskLabel){
            $('#updateTitle').val(taskTitle);
            $('#updateLabel').val(taskLabel);
            $('#taskId').val(taskId);
            $('#updateModal').modal('toggle');

        }
        function updateTask(){
            var title = document.getElementById('updatedTitle').value;
            var taskId = document.getElementById('taskId').value;
            $('#updateModal').modal('hide');
            $.post(
                "/update-task/",
                {
                    task_id: taskId,
                    title: title,
                },
                function(data) {
                    // Hard reload
                    // TODO: Make a Soft reload here
                    location.reload();
                }
            );
        }

        function validTask(){
        if(document.getElementById("title").value ==""){
            alert("Fill the Title");
            return false;
            }
        }

        function completeTask(taskId){
            $.post(
                "/complete-task/",
                {
                    task_id: taskId
                },
                function(data) {
                    // Hard reload
                    // TODO: Make a Soft reload here
                    location.reload();
                }
            );
        }

        function deleteTask(taskId){
            $.post(
                "/delete-task/",
                {
                task_id: taskId},
                function(data) {
                    // Hard reload
                    // TODO: Make a Soft reload here
                    location.reload();
                }
            );
        }

        function archiveTask(taskId){
            $.post(
                "/archive-task/",
                {
                task_id: taskId},
                function(data) {
                    window.location.replace("/");
                }
            );
        }

        function showArchivedTasks(){
            window.location.replace("/?showArchived=True");
        }

        $(document).ready(function(){
            var draggedItem = null;
            addEvents();

            function addEvents(){
                $('.segmentListItem').each(function(index){
                    $(this)[0].addEventListener('dragstart',handleDragStart,false);
                    $(this)[0].addEventListener('drop',handleDrop,false);
                    $(this)[0].addEventListener('dragover',handleDragOver,false);
                });
                }
            function handleDragStart(e){
                draggedItem = this;
                e.dataTransfer.effectAllowed = 'move';
                e.dataTransfer.setData('text/html', this.innerHTML);
            }

            function handleDragOver(e) {
                  if (e.preventDefault) {
                    e.preventDefault(); // Allows us to drop.
                  }
                  e.dataTransfer.dropEffect = 'move';  // See the section on the DataTransfer object.
                  return false;
            }

            function handleDrop(e){
                if (e.stopPropagation) {
                    e.stopPropagation(); // Stops some browsers from redirecting.
                }

                if (draggedItem != this) { // Swap if we're not dragging the item onto itself
                    $(this).replaceWith($(draggedItem).clone(true,true));
                    $(draggedItem).replaceWith($(this).clone(true,true));
                    addEvents();
                }
                return false;
            }
        });
    </script>
</html>
